*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "freight big pro";
}

html,body{
    height:100%;
    width: 100%;
    /* background: #F5E41B; */
}

#page1{
    height: 110vh;
    width: 100%;
    background-color: #F5E41B;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

   
}

#page1 h1{
    font-size: 14vh;
    font-weight: 100;
    line-height: 11vh;
    text-align: center;
    letter-spacing: -3px;
    z-index: 5;

}

#loader{
    height: 100vh;
    width: 100%;
    /* if opacity is decreased to 0 it will be visible irrespective of position being fixed */
    background: #f5e41b;
    position: fixed;
    z-index: 7;
    /* no need of using top or left 0 in here */
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

#loader h1{
    font-size: 14vh;
    font-weight: 100;
    line-height: 11vh;
    text-align: center;
    letter-spacing: -3px;
    z-index: 8;
    /* can also change the colour in the timeline */
    color: white;
}

#loader #yellow1{
    position: absolute;
        /* no need of using top or left 0 in here */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f5e41b;
    z-index: 8;
    
}


#loader video{
    position: absolute;
        /* no need of using top or left 0 in here */

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    /* opacity: 0.5; */
    z-index: 7;
}


#page2{
    height: 100vh;
    width: 100%;
    background-color: #10bdd4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
 
}


#nav{
    position: absolute;
    width: 100%;
    /* background-color: red; */
    padding: 20px 40px;
    z-index: 10;
    display: none;
}

#nav svg  path{
    fill: black;
}

#page2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  text-align: center;


}

.elem{
    width: 100%;
    /* background-color: red; */
    position: relative;

   
}

.elem h2{
 font-size: 7vw;
 text-transform: uppercase;
 font-weight: 100;
 position: relative;
 z-index: 1;
 line-height: 5vw;
 cursor: pointer;
 transition: all ease 0.2s;
 /* background-color: red; */
}


.elem .moving{
    width: 100%;
    white-space: nowrap;
    background-color: #F5E41B;
    padding: 8px 0;
    position: absolute;
    top: 50%;
    transform: translate(0,-40%) scaleY(0);
    transition: all ease 0.4s;
    overflow: hidden;

}

.elem .moving .moving-in{
    display: inline-block;
    white-space: nowrap;
    animation: moving 4s linear infinite;

}

.elem .moving .moving-in h5{
    display: inline-block;   
    color: #000;
    font-size: 20px;
    font-weight: 400;
    /* font-family: gilroy; */
    text-transform: uppercase;
    margin-right: 35px;
    opacity: 0;
    transition: all ease 0.4s;
    transition-delay: 0.2s;

}

.elem .blur{
    position: absolute;
    width: 35%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(to right,#F5E41B,#F5E41B,#F5E41B);
    box-shadow: 10px 0px 20px 20px #F5E41B, -10px 0px 20px 100px #F5E41B;
    height: 100%;
    z-index: 99;
}

@keyframes moving{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.elem h2:hover + .moving{
    transform: translate(0,-40%) scaleY(1);
}

.elem h2:hover + .moving .moving-in h5{ 
    opacity: 1;
}

.elem h2:hover {
   font-style: italic;
}

#page3{
background-color: aliceblue;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;  

}

.image-container {  
    padding: 15px 40px;
    width: 32vw;
   
}


.image-div{
    position: relative;
    height: 80vh;
    width: 30vw;
    overflow: hidden;
    transition: all ease-in 1.5s;
}


.image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1;
    transition: all ease-in-out 0.3s;

}

.image-div:hover img{ 
    scale: 1.1;
    z-index: 1;
 }

.image-div .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.279);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all ease 0.4s;
    color: white;
    z-index: 2;
}

.image-div .overlay p{
    font-size: 8vh;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0;
    transition: all ease 0.4s;
    text-align: center;
    line-height: 7vh;
    cursor: pointer;
}



.image-div:hover .overlay{
    background: rgb(0, 0, 0);
}

.image-div:hover .overlay p{
   opacity: 1;
}


#footer{
    height: 40vh;
     width: 100%;
     display: flex;
     justify-content: flex-end;
    background-color: aliceblue;
     flex-direction: column;
     align-items: center;

}

#footer i{
    font-size: 7vh;
   /* cursor: pointer; */
}

#footer .scroll-Box{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer h3{
    
    font-size:4vh;
    font-weight: 100;
    line-height: 1vh;
    text-align: center;
    /* letter-spacing: -3px; */
    /* cursor: pointer; */
    z-index: 5;
    margin-bottom: 8vh;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

#footer #foot{
    width: 100%;
    background-color: #000;
    height: 50%;
}
