*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;

}


#main #nav-bg{
    background-color: black;
    width: 100%;
    height: 10vh;
    position: fixed;
}

#main nav{
    position: fixed;
    color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 15vh;
    margin-top: 7vh;
    background-color: black;
  
}
nav #left h4{
    font-size: 3.5vh;
    text-transform: uppercase;
}

nav #right{
    width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0DA34E;
    padding: 0.5rem 1rem;
    border-radius: 25px;
}

nav #right h4{
    font-size: 2.2vh;
  
    cursor: pointer;
    text-transform: uppercase;
}

nav #right span svg{
    width: 1rem;
    height: 1rem;
    border: 1px solid white;    
    padding-top: 2px;
    border: transparent;
}

#main #center {

    display: flex;
    text-transform: uppercase;  
    position: relative;
    z-index: 5;

}


#main #nav-bottom{
    position: absolute;
    background-color: black;
    left: 19vw;
    width: 61vw;
    top:60%;
    height: 0vh;
    z-index: 4;
    border-bottom: 1px solid white;
}


#main #center .option p{
    
    font-size: 2.1vh;
    padding: 0px 2vh;
    cursor: pointer;
    margin-top: 1vh;
    padding-bottom: 2vh;
}

#main #center .option p:hover{
    color: #0DA34E;
}


#main #center .option h4{
    font-size: 1.5vh;
    padding: 0.8vh 2vh;
    cursor: pointer;
    display: none;
    overflow: hidden;
    /* background-color: red; */


}

#main #center .option h4:hover{
    color: #0DA34E;
}

#center .option h4 span{
    display: inline-block;
    overflow: hidden;
}




#page1{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#page1 #top{
    margin-top: 15vh;
}

#page1 #top h1{
    text-align: center;
    font-size:17vh;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: -0.5vw;
 

}

#page1 #top h1 span svg{
    width: 4.5rem;
    height: 4.5rem;
    border: 1px solid white;
    border-radius: 50px;
    padding: 0.8rem 0.8rem;
    background-color: #0DA34E;
    border: transparent;
    
    
}

#page1 #bottom{
    text-align: center;
    font-size: 2.5vh;
}

#page1 #bottom #bottom-1 {
    display: flex;
    font-weight: 100;
    
}

#page1 #bottom #bottom-1 p{
    margin-top: 2vh;
    margin-right: 0.5rem;
    border: 1px solid rgb(113, 110, 110);
    border-radius: 50px;
    padding: 0.4rem 0.5rem;
}


#page1 #bottom #bottom-1 p:nth-last-child(2){
   border: none;
   margin-right: 0;
}

#page1 #bottom #bottom-1 p:nth-last-child(3){
    margin-right: 0;
}

#clients{
   
    width: 40%;
    height: 12vh;
    margin-top: 5vh;
    white-space: nowrap;
    overflow: hidden;

  
}

#clients .move {
    display: inline-block;
    animation: animate 10s linear infinite;
    position: relative;
    top: 50%;
    /* background-color: salmon; */
}

#clients .move img{
    margin: 0vw 1.5vw;
    
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-110%);
    }

}

.moving{
    position: relative;
  
}

.moving #blur-left{
    position: absolute;
    width: 20%;
    height: 100%;
 
    z-index: 1;
    top: 0px;
    
    
    background: linear-gradient(to right, black, transparent);

}

.moving #blur-right{
    position: absolute;
    width: 20%;
    height: 100%;
 
    z-index: 1;
    top: 0px;
    right: 0px;
    
   
    background: linear-gradient(to right, transparent, black);

}